    <div class="row g-4">
        <div></div>
        <div class=" d-flex justify-content-center">Username:<input id="username"/></div>
        <div class=" d-flex justify-content-center">Password: <input id="password" type="password"/></div>

        <!-- A hidden div that only becomes visible when there is an error message to display (RM)-->
        <div class="d-flex justify-content-center text-danger d-none" id="err_msg">Invalid username or password</div>

        <div class="d-flex justify-content-center m-4">
            <button id="login_button" class="bg-primary" (click)='login($event)'>Login</button></div>
    </div>
    
    
